.callpage-container {
  .partner-video-container {
    height: 100vh;
    width: 100%;
    object-fit: cover; // use "cover" to avoid distortion
    position: absolute;
    z-index: -2;
  }

  .user-video-container {
    height: 30vh;
    width: 30%;
    object-fit: cover; // use "cover" to avoid distortion
    position: relative;
    z-index: -1;
  }
}